{% extends 'base.html.twig' %}

{% block title %}Ajouter des agents!{% endblock %}

{% block body %}

<div>

    <h1> Ajouter des agents</h1>

    Vous pouvez ajouter des agents dans cette page

    <hr>
    {{ form(form)}}

</div>
{% endblock %}