{% extends 'base.html.twig' %}

{% block title %}Supprimer une agent{% endblock %}

{% block body %}
<div class="page_center">
    <h1>Supprimer un agent</h1>
    Vous pouvez supprimer des agents dans cette page <br><br>
    <hr>
    <br>
    {{ form(searcForm)}}
</div>

{% endblock %}