{% extends 'base.html.twig' %}

{% block title %}Modfier les informations concernant un agent!{% endblock %}

{% block body %}
<h1> Modfier les informations concernant un agent</h1>

Vous pouvez modifier les informations concernant l'agent dans cette page
<hr>

{{form(form)}}


{% endblock %}