{% extends 'base.html.twig' %}

{% block title %}Ajouter un statut de mission!{% endblock %}

{% block body %}

<div>

    <h1> Ajouter un statut de mission</h1>

    Vous pouvez ajouter un statut de mission dans cette page

    <hr>
    {{ form(form)}}

</div>
{% endblock %}