{% extends 'base.html.twig' %}

{% block title %}Supprimer un statut de mission{% endblock %}

{% block body %}
<div class="page_center">
    <h1>Supprimer un statut de mission</h1>
    Vous pouvez supprimer un statut de mission dans cette page <br><br>
    <hr>
    <br>
    {{ form(searchForm)}}
</div>

{% endblock %}