{% extends 'base.html.twig' %}

{% block title %}Ajouter des types de missions!{% endblock %}

{% block body %}

<div>

    <h1> Ajouter des types de mission</h1>

    Vous pouvez ajouter des types de mission dans cette page

    <hr>
    {{ form(form)}}

</div>
{% endblock %}