{% extends 'base.html.twig' %}

{% block title %}Modifier un type de mission{% endblock %}

{% block body %}
<h1>Modifier un type de mission</h1>

Vous pouvez effectuer des modification sur un type de mission dans cette page

<hr>

<div style="max-width: 20%;">
    {{ form(form) }}
</div>



{% endblock %}