{% extends 'base.html.twig' %}

{% block title %}Ajouter des pays!{% endblock %}

{% block body %}

<div>

    <h1> Ajouter des pays</h1>

    Vous pouvez ajouter des pays dans cette page

    <hr>
    {{ form(form)}}

</div>
{% endblock %}