{% extends 'base.html.twig' %}

{% block title %}Supprimer un pays{% endblock %}

{% block body %}
<div class="page_center">
    <h1>Supprimer une pays</h1>
    Vous pouvez supprimer un pays dans cette page <br><br>
    <hr>
    <br>
    {{ form(searchForm)}}
</div>

{% endblock %}