{% extends 'base.html.twig' %}

{% block title %}Modifier un pays{% endblock %}

{% block body %}
<h1>Modifier un pays</h1>

Vous pouvez effectuer des modification sur un pays dans cette page

<hr>

<div style="max-width: 20%;">
    {{ form(form) }}
</div>



{% endblock %}