{% extends 'base.html.twig' %}

{% block title %}Liste des pays{% endblock %}

{% block body %}
<div>
    <h1>Liste des pays</h1>

    Vous trouverez la liste des pays dans cette page

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom du pays</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        {% for country in countries %}
        <tbody>
            <tr>

                <td>{{ country.name}}</td>
                <td>
                    <a href="{{ path('app_country_edit', {'id': country.id})}}">Modifier</a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
        </tabl>
</div>

{% endblock %}