{% extends 'base.html.twig' %}

{% block title %}Ajouter un code!{% endblock %}

{% block body %}
<h1>Ajouter un code </h1>
Dans cette page vous pouvez ajouter un code pour une mission

<hr>

{{form(form)}}
{% endblock %}