{% extends 'base.html.twig' %}

{% block title %}Modier un code!{% endblock %}

{% block body %}
<h1>Modifier un code </h1>
Dans cette page vous pouvez Modifier un code pour une mission

<hr>

{{form(form)}}
{% endblock %}