{% extends 'base.html.twig' %}

{% block title %}Liste des codes!{% endblock %}

{% block body %}
<h1>Liste des codes </h1>
Dans cette page vous pouvez consulter la liste des codes pour une mission

<hr>

<div class="float-right">
    Merci de <a href="{{ path('app_code_add')}}">Cliquer ici</a> pour ajouter un code pour mission
</div>





{% for code in codes %}
<ul>
    <li>
        {{code.name}} <br>
        <a href="{{ path('app_code_edit', {'id': code.id})}}">Modifier</a>
        <a href="{{ path('app_code_delete', {'id': code.id})}}">Supprimer</a>

    </li>
</ul>
{% endfor %}

{% endblock %}