{% extends 'base.html.twig' %}

{% block title %}Ajouter des spacialités!{% endblock %}

{% block body %}

<div>

    <h1> Ajouter des Spécialités</h1>

    Vous pouvez ajouter des Spécialités dans cette page

    <hr>
    {{ form(form)}}

</div>
{% endblock %}