{% extends 'base.html.twig' %}

{% block title %}Modifier une specialité{% endblock %}

{% block body %}
<h1>Modifier une spécialité</h1>

Vous pouvez effectuer des modification sur une spécialité missions dans cette page

<hr>

<div style="max-width: 20%;">
    {{ form(form) }}
</div>



{% endblock %}