{% extends 'base.html.twig' %}

{% block title %}Ajouter des missions{% endblock %}

{% block body %}
<h1>Ajouter des missions</h1>

Vous pouvez ajouter des missions dans cette page

<hr>

{{ form(form)}}

{% endblock %}