{% extends 'base.html.twig' %}

{% block title %}Modifier des missions{% endblock %}

{% block body %}
<h1>Modifier des missions</h1>

Vous pouvez effectuer des modification sur les missions dans cette page

<hr>

{{ form(form)}}

{% endblock %}