{% extends 'base.html.twig' %}

{% block title %}Modifier des missions{% endblock %}

{% block body %}
<h1>Modifier des missions</h1>

Vous pouvez effectuer des modification sur les missions dans cette page

<hr>

<div style="max-width: 20%;">
    {{ form(searchForm) }}
</div>

<br>
<hr>

{{ form(editForm) }}

{% endblock %}