{% extends 'base.html.twig' %}

{% block title %}Liste des missions{% endblock %}

{% block body %}
<div>
    <h1>Liste des missions</h1>

    Vous trouverez la liste des missions dans cette page

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Titre la la mission</th>
                <th scope="col">Déscription de la mission</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        {% for mission in missionList %}
        <tbody>
            <tr>

                <td>{{ mission.title}}</td>
                <td>{{ mission.description}}</td>
                <td>
                    <a href="{{ path('app_mission_show', {'id': mission.id})}}">Détail</a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
        </tabl>
</div>

{% endblock %}