{% extends 'base.html.twig' %}

{% block title %}Ajouter des contacts!{% endblock %}

{% block body %}

<div>

    <h1> Ajouter des contacts</h1>

    Vous pouvez ajouter des contacts dans cette page

    <hr>
    {{ form(form)}}

</div>
{% endblock %}