{% extends 'base.html.twig' %}

{% block title %}Supprimer un contact{% endblock %}

{% block body %}
<div class="page_center">
    <h1>Supprimer un contact</h1>
    Vous pouvez supprimer un contact dans cette page <br><br>
    <hr>
    <br>
    {{ form(searchForm)}}
</div>

{% endblock %}