{% extends 'base.html.twig' %}

{% block title %}Modifier un contact{% endblock %}

{% block body %}
<h1>Modifier un contact</h1>

Vous pouvez effectuer des modification sur un contact dans cette page

<hr>

<div style="max-width: 20%;">
    {{ form(form) }}
</div>


{% endblock %}