{% extends 'base.html.twig' %}

{% block title %}Ajouter des cibles!{% endblock %}

{% block body %}

<div>

    <h1> Ajouter des cibles</h1>

    Vous pouvez ajouter des cibles dans cette page

    <hr>
    {{ form(form)}}

</div>
{% endblock %}