{% extends 'base.html.twig' %}

{% block title %}Modifier un cible{% endblock %}

{% block body %}
<h1>Modifier un cible</h1>

Vous pouvez effectuer des modification sur un cible missions dans cette page

<hr>

<div style="max-width: 20%;">
    {{ form(form) }}
</div>



{% endblock %}