{% extends 'base.html.twig' %}

{% block title %}Ajouter des planques!{% endblock %}

{% block body %}

<div>

    <h1> Ajouter des planques</h1>

    Vous pouvez ajouter des planques dans cette page

    <hr>
    {{ form(form)}}

</div>
{% endblock %}