{% extends 'base.html.twig' %}

{% block title %}Modifier une planque{% endblock %}

{% block body %}
<h1>Modifier uune planque</h1>

Vous pouvez effectuer des modification sur une planque missions dans cette page

<hr>

<div style="max-width: 20%;">
    {{ form(form) }}
</div>



{% endblock %}